{% extends 'base.html' %}

{% block content %}

<title>MACM Viewer</title>
<style>
    html, body {
        font: 16pt arial;
        margin-bottom: 10%;
    }

    #viz {
        width: 900px;
        height: 700px;
        border: 1px solid lightgray;
        font: 22pt arial;
    }

</style>

<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>

<script type="text/javascript">
    // define config car
    // instantiate nodevis object
    // draw

    //html,css,javascript --- python django --- mysql,mysqlite

    let viz;

    function draw(appId) {
        const config = {
            containerId: "viz",
            neo4j: {
                serverUrl: "bolt://localhost:7687",
                serverUser: "neo4j",
                serverPassword: "neo4jPass",
            },
            initialCypher: "MATCH (n{app_id:'"+appId+"'})-[r]->(m) RETURN n,r,m"
        };

        viz = new NeoVis.default(config);
        viz.render();
        console.log(viz);
    }
</script>

<body onload="draw({{ appId }})">
<div class="starter-template" style="margin-top: -6%;"> </div>

<H1>MACM Viewer</H1>

<div id="viz"></div>

<p>This is the MACM Model of the application {{ appId }}</p>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}